# Firebase Client Configuration (Optional on Vercel since firebase-applet-config.json is bundled)
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0753067224
VITE_FIREBASE_APP_ID=1:231717324862:web:ec28756d07fb8b241fe96f
VITE_FIREBASE_API_KEY=AIzaSyBUBbI9KS6Xbmmdn65D8hv13hYrWAhwcjU
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0753067224.firebaseapp.com
VITE_FIREBASE_DATABASE_ID=ai-studio-sheldorrpg-bb9a97a5-1178-47c9-a9e8-bbf59a39f437
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0753067224.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=231717324862
